{
  // "eslint.validate": [ "javascript", "javascriptreact", "html", "typescriptreact" ],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "linebreak-style": "off",
    "object-curly-spacing": "off",
    "arrow-parens": "off",
    "require-jsdoc": "off",
    "indent": "off",
    "eol-last": "off",
    "no-trailing-spaces": "off",
    "operator-linebreak": "off",
    "no-unused-vars": "off",
    "max-len": "off",
    "one-var": "off",
    "padded-blocks": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
//
